body {
  margin: 0;
  font-family: "Times New Roman", "Courier New";
    background: linear-gradient(89deg, #e66465, #9198e5);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
